<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>If you are interested in contacting this tutorial, just email me at <a href="mailto:parker.l.smith@gmail.com">parker.l.smith@gmail.com</a></p>